@import url(//fonts.googleapis.com/css?family=Work+Sans:400);
:root {
  --background: #fff9f9;
  --primary-color: #ff0000;
}

body {
  font-family: Work Sans;
  font-size: 16px;
  line-height: 1.25;
  background-color: var(--background);
  color: var(--primary-color);
  margin: 64px auto 64px auto;
  max-width: 960px;
  text-align: center;
}

header {
  margin-bottom: 24px;
}

span {
  margin: 0 8px;
}

circle {
  fill: var(--primary-color);
  stroke: var(--background);
  stroke-width: 3px;
}

line {
  stroke: 1px;
  stroke-dasharray: 2 8;
}

path.domain {
  stroke-width: 2px;
}

text.axis-x,
text.axis-y {
  fill: var(--primary-color);
  font-size: 24px;
  text-anchor: middle;
  dominant-baseline: middle;
}

g.city rect {
  fill: var(--primary-color);
  opacity: 0;
  transition: opacity 0.25s;
}

g.city text {
  fill: var(--background);
  text-anchor: middle;
  dominant-baseline: middle;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.25s;
}

g.city:hover rect {
  opacity: 1;
}

g.city:hover text {
  opacity: 1;
}

@media (max-width: 1000px) {
  body {
    margin: 20px;
  }

  form span {
    display: block;
    margin: 10px 0 10px 0;
  }
}
